@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html5>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Login</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <style>
        </style>
    </head>
    <body>
        <header>
            <div class="product" style="padding-top:10rem; padding-left:20px">
                <a href="#">
                    <img style="width:18rem; height:20rem" src="~/Content/image/giường đà.jpg" />
                </a>
                <a href="#" style="padding-left:80px">
                    <img style="width:18rem; height:20rem" src="~/Content/image/giường đà.jpg" />
                </a>
                <a href="#" style="padding-left:80px">
                    <img style="width:18rem; height:20rem" src="~/Content/image/giường đà.jpg" />
                </a>
            </div>
            <div class="product" style="padding-top:20px; padding-left:20px">
                <a href="#">
                    <img style="width:18rem; height:20rem" src="~/Content/image/giường đà.jpg" />
                </a>
                <a href="#" style="padding-left:80px">
                    <img style="width:18rem; height:20rem" src="~/Content/image/giường đà.jpg" />
                </a>
                <a href="#" style="padding-left:80px">
                    <img style="width:18rem; height:20rem" src="~/Content/image/giường đà.jpg" />
                </a>
            </div>
            <table style="margin-top:140px">
                <tr>
                    <td>
                        <img style="width:550px; height:550px;" src="~/Content/image/ghế thư giản 2.png" />
                    </td>
                    <td>
                        <h2 style="font-weight:100">THIẾT KẾ HIỆN ĐẠI</h2>
                        <h3>CÔNG NĂNG TIỆN ÍCH</h3>
                        <h5>Lựu chọn ghế thư giãn cao cấp để được trải nghiệm những giây phút thư giãn</h5>
                    </td>
                </tr>
            </table>
            <table style="margin-top:140px">
                <tr>
                    <td>
                        <h2 style="font-weight:100">THIẾT KẾ HIỆN ĐẠI</h2>
                        <h3>CÔNG NĂNG TIỆN ÍCH</h3>
                        <h5>Lựu chọn ghế thư giãn cao cấp để được trải nghiệm những giây phút thư giãn</h5>
                    </td>
                    <td>
                        <img style="width:550px; height:550px;" src="~/Content/image/ghế thư giản 2.png" />
                    </td>
                </tr>
            </table>
        </header>
        <img style="width:2100px" src="~/Content/image/sofas bo.jpg" />

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://ahachat.com/customer-chats/customer_chat_aABI9u2qbk626420565111a.js"></script>
    </body>
</html5>